absl-py==2.1.0
bcrypt==4.2.1
cffi==1.17.1
cryptography==44.0.0
flexcache==0.3
flexparser==0.4
iniconfig==2.0.0
packaging==23.2
paramiko==3.5.0
Pint==0.24.4
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
pyfrc==2025.0.0
PyNaCl==1.5.0
pynetconsole==2.0.4
pyntcore==2025.1.1.0
pytest==8.3.4
pytest-reraise==2.1.2
robotpy==2025.1.1.1
robotpy-cli==2024.0.0
robotpy-hal==2025.1.1.0
robotpy-halsim-gui==2025.1.1.0
robotpy-installer==2025.0.0
robotpy-wpilib-utilities==2025.0.0
robotpy-wpimath==2025.1.1.0
robotpy-wpinet==2025.1.1.0
robotpy-wpiutil==2025.1.1.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
wpilib==2025.1.1.0
