[Unit]
Description=Blocks Service With Autostart
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/blocks/backend/main.py
Restart=always
RestartSec=5
TimeoutStartSec=3
TimeoutStopSec=3

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log

[Install]
WantedBy=multi-user.target
