Package: Blocks
Version: 0.0.1
Description: Blocks Programming
Section: development
Priority: optional
Maintainer: FIRST
Architecture: all
Source: local
X-Port: 9001
X-Has-UI: true
X-Auto-Start: true
X-Icon-Path: /usr/share/blocks.png
